@model IEnumerable<OnlineStore.Cms.Models.Response.Product.ProductRes>

@{
    ViewData["Title"] = "Product";
}

<div id="PlaceHolderHere"></div>

<h1>Products</h1>

<p>
    <button type="button" id="CreateProductBtn" class="btn btn-success" data-toggle="ajax-modal" data-target="#Product" data-url="@Url.Action("Create")">Add Product</button>
</p>
<form asp-controller="Products" asp-action="Index">
    <p>
        Search: <input type="text" name="SearchString" />
        <input type="submit" value="Submit" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Thumbnail
            </th>
            <th>
                Price
            </th>
            <th>
                User create
            </th>
            <th>
                Category
            </th>
            <th>
                Time
            </th>
            <th>
                Deleted
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thumbnail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isDeleted)
                </td>
                <td>
                    <button type="button" class="btn" data-toggle="ajax-modal" data-target="#Product" data-url="@Url.Action($"Edit/{item.Id}")">Edit</button>|
                    <button type="button" class="btn" data-toggle="ajax-modal" data-target="#Product" data-url="@Url.Action($"Delete/{item.Id}")">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
